* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
$fontP : 'Oswald';
$color1:#f7f7f7;
@mixin fontPar {
    p{
        color: $color1;
        font-family: $fontP;
        margin-left: 10%;
    }  
}
@mixin EmplacP() {
    width:70%;
    margin-left: 15%; 
    background-color: $color1;
} 
@mixin FlexR() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
@mixin FlexC() {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin Placeholder() {
    &::placeholder {
        color: black;
        font-size: 14px;
        margin-top: -5px;
        font-family: $fontP;
      }
}
#NavBar-Mobile {
    display: none;
    //display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    #nav-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding-left: 10px;
        padding-top: 5px;
        #nav-menu-icon {
            position: absolute;
            left: 91%;
            top:41%;
            cursor: pointer;
            #menu{
                width: 35px;
                height: 35px;
        
            }
            #nav-menu-logo img {
                width: 180px;
            }
        }
        #nav-menu-logo img {
            width: 180px;
        }
    }
    #nav-menu{
        left: 85%;
        margin-top: 5%;
        position: absolute;
        @include FlexC();
        background-color: rgba(255, 255, 255, 0.89);
        width: 15%;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
        #nav-close{
            cursor: pointer;
            width: 35px;
            height: 35px;
            margin-left: 53px;
            position: absolute;
            left: 86px;
            top: -18px;
        }
        a{
            height : 90px;
            color: black;
        }
    }    
}
.d1{
    width: 100%;
    height: 90px;
    background-color: black;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    #image{
        width: 90%;
        z-index: 3;
        margin-left: 3%;
        margin-top: 1%;
    }
    #MenuB{
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        .d2{
            width: auto;
            height: 50px;
        }
    }
}
a{
    list-style-type: none;
    text-decoration: none;
    color:$color1;
    font-size: 30px;
    margin-left: 40px;
    font-family: $fontP;
}
a:hover{
    border-bottom: solid 2px white;
}
#imgP{
    width:auto;
    height: 250px;
    background-color: $color1;
    border-top: solid black 8px;
    img{
        width: auto;
        height: 250px;
        margin-left: 20%;
    }
}
.blank{
    width: auto;
    height: 20px;
}
span{
    // color:rgb(10, 214, 88);
    // color: rgb(60, 141, 235);
    color: black;
}
#Conts{
    @include EmplacP();
    @include FlexR();
    height: 200px;
    #Par1{
        margin-left: 5%;
        width: 50%;
        font-family: $fontP;
        font-weight:normal;
        h1{
        color: black;
        font-weight: 100;
        }
        h3{
            font-weight: 200;
        }
    }
    #Par2{
        width: 50%;
        font-family: $fontP;
        font-weight:normal;
        margin-left: 5%;
        margin-top: 2.5%;
        p{
            line-height: 200%;
            font-size: 16px;
        }
    }
}
#Form , #CarteB{
    @include EmplacP();
    height: 550px;
    img{
        width: 100%;
        height: 90px;
    }
    #div2{
        @include FlexR();
        margin-left: 4%;
        width: 100%;
        height: 50px;
        .N{
            width: 45%;
            font-family: $fontP;
            @include Placeholder();
        }
        .P{
            width: 46%;
            margin-left: .5%;
            font-family: $fontP;
            @include Placeholder();
        }
    }
    .In{
        margin-left:4%;
        width: 92%;
        height: 50px;
        @include Placeholder();
    }
    #Cpass , #CEmail{
        background-color: rgba(128, 128, 128, 0.411);
        border: none;
        pointer-events:none;
    }
}
#DateN{
    @include EmplacP();
    height: 180px;
    #p1{
        font-family: $fontP;
        font-size: 24px;
    }
    #p2{
        font-family: $fontP;
        font-size: 14px;
    }
    p{
        font-family: $fontP;
        font-size: 14px;
    }
}
.div3{
    @include FlexR();
    width: 100%;
    margin-left: 2.5%;
    // .Dat{
    //     width: 30%;
    //     height: 50px;
    //     margin-left: 1%;
    // }
}
#Permis{
    @include EmplacP();
    height: 200px;
    p{
        font-family: $fontP;
        font-size: 24px;
    }
    .p1{
        font-size: 14px;
    }
}
.Selec{
    width: 92%;
    margin-left: 4%;
    height: 50px;
}
.div3{
    width: 100%;
    .Annee{
        width: 30%;
    }
    p{
        font-size: 12px;
        font-family: $fontP;
        margin-left: 25%;
    }
    
}
#polit{
    font-size: 15px;
    font-family: $fontP;
    margin-left: 15%;
    .Acc{
        color: #308DFF;
        text-decoration: underline;
    }
}

#CarteB{
    @include EmplacP();
    height: 200px;
    p{
        font-size: 24px;
        font-family: $fontP;
    }
    
}
#radio{
    margin-left: 15%;
    #RadioPar{
        font-size: 15px;
        font-family: $fontP;
    }
    .Acc{
        color: #308DFF;
        text-decoration: underline;
    }

}
#PAcc{
    font-size: 15px;
    font-family: $fontP;
    margin-left: 15%;
}
#BtnAd{
    width:25%;
    height: 50px;
    margin-left: 60%;
    font-size: 15px;
    font-family: $fontP;
    &:hover{
        background-color: black;
        color: $color1;
        font-size: 16px;
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        border-style: none;
    }
}


#Footer{
    width: 100%;
    //background-color: rgba(0, 0, 0, 0.700);
    height: 300px;
    #parts4{
        @include FlexR();
        width: 100%;
        height: 280px;
        background-color: black;
        font-size: 16px;
        @include fontPar();
        justify-content: space-around;
        #Aide , #Societe , #Liens ,#Reseaux{
            width: 20%;
            height:300px;
            cursor: pointer;
            #Newsl{
                @include FlexR();
                height: 50px;
                #New{
                    width: 70%;
                    margin-left: 10%;
                    height: 30px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
                #Ok{
                    width: 20%;
                    height: 30px;
                    font-family: $fontP;
                    background-color: black;
                    color:$color1;
                    font-size: 12px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
            #pay{
                @include FlexR();
                width: 100%;
                height: 30px;
                div{
                    width:20%;
                    margin-left: 10%;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
               
            }
        }
    }
}

.SousT{
    text-decoration: underline;
    font-size: 24px;
}
#Coorp{
    height:20px;
    width: 100%;
    background-color: $color1;
    @include FlexR();
    #NomSoc ,#Droits , #Cor{
        width: 30%;
        margin-left: 2%;
        justify-content: space-between;
        p{
            text-align: center;
            font-family: $fontP;
            font-size: 15px;
            color: Black;
        }
    }

}
.Upper{
    font-family: $fontP;
}
@mixin StyleParagVerf() {
    @for $i from 1 through 6{
        #ParagVerf#{$i}{
            font-family: $fontP;
            font-size: 12px;
            margin-left: 5%;
        }
    }
}
@include StyleParagVerf();
#sincrire{
    display:none;
    width: 100%;
    height: 500%;
    background-color: rgba(0, 0, 0, 0.808);
    position: absolute;
    top: 0;
    #logoInscrip{
        width: 60%;
        height:100px;
        background-color: black;
        margin-left: 20%;
        margin-top: 7.5%;
        img{
            margin-left: 5%;
            width: 40%;
            height: 100px;
            float: left;
        }
        a{
            font-size: 20px;
            font-family: $fontP;
            margin-left: 43%;
            color: $color1;
            margin-top: 90px;
            list-style-type: none;
            text-decoration: none;
            cursor: pointer;
        }
    }
    #Inscrip{
        width: 60%;
        height: 400px;
        margin-left: 20%;
        @include FlexR();
        background-color: white;
        #pan1{
            width: 60%;
            background-color: rgb(255, 255, 255);
            p{
                margin-left: 10%;
                font-size: 18px;
                font-family: $fontP;
            }
            input{
                margin-left: 10%;
                width: 50%;
                height: 20px;
                font-size: 14px;
                font-family: $fontP;
            }
            #check{
                float: left;
                margin-left: -12%;
            }
            label{
                font-size: 18px;
                font-family: $fontP;
                margin-left: -20%;
            }
            #SeConn{
                color: $color1;
                width: 80%;
                height: 40px;
                border-radius:5px;
                background-color: black;
                font-family: $fontP;
                font-size: 15px;
                margin-left: 10%;
                border-style: none;
                cursor: pointer;
            }
        }
        #pan2{
            width: 40%;
            background-color: rgb(0, 0, 0);
            p{
                //margin-left: 10%;
                text-align: center;
                font-size: 24px;
                font-family: $fontP;
                color: $color1;
            }
            #p1{
                font-size: 18px;
                text-align: start;
                margin-left: 10%;
            }
            ul{
                margin-left: 10%;
                li{
                    font-size: 18px;
                    text-align: start;
                    margin-left: 10%;
                    font-family: $fontP;
                    color: $color1;
                    padding-top: 20px;

                }
            }
            #Adherer{
                color: black;
                width: 80%;
                height: 40px;
                border-radius:5px;
                background-color:$color1;
                font-family: $fontP;
                font-size: 15px;
                margin-left: 10%;
                border-style: none;
                cursor: pointer;

            }
        }
    }
}

@media screen and (max-width:850px) {
    #Footer{
        #parts4{
            display: none;
        }
    }
}



@media screen and (max-width:1175px) {
    #NavBar-Mobile{
        display: none;
    }
    .d1{
        display: flex;
    }
}

// 
@media screen and (max-width:850px) {
    #NavBar-Mobile #nav-menu {
        left: 73%;
        margin-top: 10%;
        width: 27%;
    }
    #NavBar-Mobile{
        display: flex;
    }
    .d1{
        display: none;
    }
    #Footer{
        #parts4{
            display: none;
        }
    }
}

// 
@media screen and (max-width:670px) {
    #NavBar-Mobile #nav-menu {
        left: 67%;
        margin-top: 10%;
        width: 32%;
    }
    #NavBar-Mobile{
        display: flex;
    }
    .d1{
        display: none;
    }
}